<header>
  <div class="login__block__header__custom">
    <a data-toggle="tooltip" [title]="logoTooltip" [routerLink]="'/'"> <img [src]="logoURL" (error)="logoErrorHandler($event)"
        height="30rem" alt=""></a>
    <div class="select__languages">
      <select2 [data]="select2TranslateData" [options]="translateOptions" [value]="choosenLanguage" [width]="88"
        (valueChanged)="switchLanguage($event)"></select2>
    </div>
  </div>
</header>
<div class="login">
  <div *ngIf="!existsEmail" class="login" (keyup.enter)="postResetPassword()">
    <div class="login__title">
      <h3>{{ 'LOGIN.LABEL.FORGOT_PASSWORD' | translate}}</h3>
    </div>
    <!-- Forgot Password -->
    <div class="login__block active" id="l-forget-password">
      <!-- <div class="login__block__header palette-Purple bg">
        <img src="../../../../../assets/images/logo.png" class="img-fluid img--custom" alt="">
      </div> -->
      <div class="login__block__body">
        <!-- <h5 [innerHTML]="'LOGIN.LABEL.FORGOT_PASSWORD' | translate"></h5> -->
        <p class="mt-4 text-left" [innerHTML]="'LOGIN.LABEL.FORGOT_PASSWORD_NOTIFY_MESSAGE' | translate"></p>
        <div class="form-group form-group--float form-group--centered">
          <input #email [(ngModel)]="modelEmail" #email="ngModel" type="email" class="form-control input-center"
            [ngClass]="{'form-control--active': email.value}">
          <label [innerHTML]="'LOGIN.LABEL.EMAIL_ADDRESS' | translate"></label>
          <i class="form-group__bar"></i>
        </div>
        <div *ngIf="error.type === 'email'" class="error-msg last">{{ error.message }}</div>

        <div class="row">
          <!-- <div class="col">
            <button routerLink="/login" class="btn btn--icon login__block__btn">
              <i class="zmdi zmdi-arrow-left"></i>
            </button>
          </div> -->
          <div class="col">
            <button class="btn btn--icon-text btn-success" (click)="postResetPassword()">
              <!-- <i *ngIf="isProcessing" class="fal fa-sync-alt fa-spin"></i>
              <i *ngIf="!isProcessing" class="fal fa-check "></i> -->
              <span [innerHTML]="'LOGIN.LABEL.SUBMIT' | translate"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="login_block_register">
      <a *ngIf="setting.ENABLE_SIGNUP" routerLink="/register" [innerHTML]="'SIGNUP.TITLE' | translate" class="register__a"></a>
      <a routerLink="/login" [innerHTML]="'SIGNUP.ALREADY_HAVE_ACCOUNT' | translate"></a>
    </div>
  </div>
  <div class="footer ft--custom">
    <app-footer></app-footer>
  </div>
</div>

<app-page-notification *ngIf="existsEmail" [message]="successMessage"></app-page-notification>
