.modal-sm {
    max-width: 400px;
}

.modal-header {
    padding-left: 20px;
}

.custom-option {
    width: 100%;
}

.left-option {
    float: left;
}

.history-period {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
    width: 25px;
    font-size: 15px;
    margin-top: -7px;
}

.modal-title-name {
    font-weight: bold;
    word-break: break-all;
}

.error-msg {
    margin-top: 8px;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0067b3;
}
.history-period{
  width:40px;
}
