.gray_bg{
    background-color: #f3f3f4;
    height:100vh;
  }

  .msg_error{
    margin-top: -25px;
    text-align: left;
    color: #e10032;
  }
  .forgot-password {
    width: 130px;
    margin: 0 auto;
    padding-bottom: 6px;
    cursor: pointer;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  .margin-lr {
      margin-left: 15px;
      margin-right: 15px;
  }

  a.btn.btn--icon.login__block__btn.bgi_white {
    width: 100%;
    border-radius: 2px;
    background: #0067b3;
    font-size: 1rem;
    height: 2.5rem;
    line-height: 30px;
  }

  .login{
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    height: 0;
  }


  .login__block__header {
    color: #636c72;
    background: #fff !important;
    margin: 0px;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
    font-weight: normal;
  }

  .login__block__header__custom {
    background: #0067b3;;
    height: 72px;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    line-height: 42px;
    img.img--custom{
      margin-left: 0px;
      border-radius: 0px;
      border: none;
      width: 200px;
      height: 50px;
      box-shadow: none;
    }
  }

  header{
    position: relative;
    background: #0067b3;
  }
  :host ::ng-deep select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
   color: #fff;
   background: #0067b3;
  }
  :host ::ng-deep select2 .select2-container--default .select2-selection--single:before{
    transform: rotate(45deg);
    top: 15px;
  }
  :host ::ng-deep select2 .select2-container--default .select2-selection--single{
    border-bottom: 0px solid transparent !important;
  }
  :host ::ng-deep select2 .select2-container--default .select2-selection--single .select2-selection__rendered{
    padding:  14px 14px;
  }
  :host ::ng-deep select2  span{
    width: 80px;
  }
  :host select2 ::ng-deep span#select2-5vko-container {
    padding-left: 12px;
  }

  .select__languages {
    position: absolute;
    top: 12px;
    right: 20px;
  }

  span.terms {
    margin-left: 10px;
  }
