<div class="modal fade" id="change-password-folder-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'MODALS.TITLES.CHANGE_PASSWORD_FOLDER' | translate: params }}
          <span class="modal-title-name">"{{ (Folder ? Folder.name : '') | splice_length: 20 }}"
          </span>
        </h5>
      </div>
      <form autocomplete="off" (keyup.enter)="changePassword()">
        <div class="modal-body">
          <div class="form-group" [ngClass]="{'has-danger':oldPassMsg !== ''}">
            <label>{{ 'FORMS.INPUTS.OLD_PASSWORD' | translate: params }}</label>
            <input #oldPassword type="password" class="form-control input-mask padding-tex-input" required [(ngModel)]="model.oldPassword"
              name="oldPassword" #oldPassword="ngModel">
            <i class="form-group__bar"></i>
          </div>
          <p class="error-msg">{{ oldPassMsg }}</p>

          <div class="form-group" [ngClass]="{'has-danger':newPassMsg !== ''}">
            <label>{{ 'FORMS.INPUTS.NEW_PASSWORD' | translate: params }}
              <span>{{ 'FORMS.INPUTS.NEW_PASSWORD_LEAST_CHARACTER' | translate: params }}</span>
            </label>
            <input #newPassword type="password" class="form-control input-mask padding-tex-input" required [(ngModel)]="model.newPassword"
              name="newPassword" #newPassword="ngModel">
            <i class="form-group__bar"></i>
          </div>
          <p class="error-msg">{{ newPassMsg }}</p>

          <div class="form-group" [ngClass]="{'has-danger':repeatPassMsg !== ''}">
            <label>{{ 'FORMS.INPUTS.NEW_PASSWORD_AGAIN' | translate: params }}</label>
            <input #repeatPassword type="password" class="form-control input-mask padding-tex-input" required [(ngModel)]="model.repeatPassword"
              name="repeatPassword" #repeatPassword="ngModel">
            <i class="form-group__bar"></i>
          </div>
          <p class="error-msg">{{ repeatPassMsg }}</p>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn--icon-text waves-effect" (click)="changePassword()">
          <i class="fal fa-pen"></i> {{ 'BUTTONS.CHANGE_PASSWORD' | translate: params }}</button>
        <button type="button" class="btn btn-secondary btn--icon-text waves-effect" data-dismiss="modal">{{ 'BUTTONS.CLOSE' | translate: params }}</button>
      </div>
    </div>
  </div>
</div>
