<div *ngIf="!isProcessing">
  <!-- Profile Setting -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title" [innerHTML]="'SETTINGS.PROFILE.SETTING_TITLE' | translate:param"></h2>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-2">
          <div>

            <div *ngIf="!isDefaultAvatar">
              <img class="profile__img__setting" src="{{ userAvatar }}" alt="" placeholder="Image">
            </div>
            <div *ngIf="isDefaultAvatar" class="card__profile">
              <i class="fal fa-user"></i>
            </div>

            <label for="file-upload" data-toggle="tooltip" title="{{'SETTINGS.PROFILE.AVARTAR_CHANGE' | translate}}">
              <a class="{{uploadAvatarIcon}} profile__img__edit bgi_white btn-success"></a>
            </label>
            <input #fileInput id="file-upload" type="file" (change)="onChange($event)" style="display:none" />
            <span data-toggle="tooltip" title="{{'SETTINGS.PROFILE.REMOVE_AVATAR' | translate}}"
              class="profile__img__edit profile__img__delete bgi_white btn-success"
              (click)="handleOpenModal('delete-avatar')">
              <i class="fal fa-trash"></i>
            </span>
          </div>
        </div>
        <div class="col-10">
          <div class="profile__info">
            <div class="form-group">
              <label [innerHTML]="'SETTINGS.PROFILE.PASSWORD' | translate:param"></label>
              <div>
                <button [disabled]="!enableChangePassword" type="button" class="btn btn-info waves-effect" (click)="handleOpenModal('change-password')">
                  <span [innerHTML]="'SETTINGS.PROFILE.UPDATE_PASSWORD' | translate:param"></span>
                </button>
              </div>
            </div>
            <form [formGroup]="profileChangeForm">
              <div class="form-group">
                <label [innerHTML]="'SETTINGS.PROFILE.NAME' | translate:param"></label>
                <input type="text" class="form-control input-mask" [(ngModel)]="userInfo.username"
                  formControlName="name">
                <i class="form-group__bar"></i>
              </div>
              <div class="form-group">
                <label [innerHTML]="'SETTINGS.PROFILE.DEPARTMENT' | translate:param"></label>
                <input type="text" class="form-control input-mask" [(ngModel)]="userInfo.department"
                  formControlName="department">
                <i class="form-group__bar"></i>
              </div>
              <div class="form-group">
                <label [innerHTML]="'SETTINGS.PROFILE.TELEPHONE' | translate:param"></label>
                <input type="text" class="form-control input-mask" value={{userTelephone}}
                  (change)="validatePhone($event)">
                <i class="form-group__bar"></i>
                <span class="error-msg">{{ telErrorMessage }}</span>
              </div>
            </form>

            <div class="form-group">
              <label [innerHTML]="'SETTINGS.PROFILE.EMAIL' | translate:param"></label>
              <div>{{ userInfo.email }}</div>
            </div>

            <div class="form-group">
              <label [innerHTML]="'SETTINGS.PROFILE.QUOTA' | translate:param"></label>
              <div>{{ userInfo.space_usage | customFileSize }} / {{ userInfo.space_quota <= 0 ? '--' : (userInfo.space_quota | customFileSize) }}</div>
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-info waves-effect"
                (click)="profileChangePost(profileChangeForm.value)">
                <span [innerHTML]="'SETTINGS.PROFILE.SUBMIT' | translate:param"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Email setting -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title" [innerHTML]="'SETTINGS.EMAIL.SETTING_TITLE' | translate:param"></h2>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label [innerHTML]="'SETTINGS.EMAIL.CURRENT_EMAIL' | translate:param"></label>
            <div>{{ userInfo.email }}</div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!currentEmailChangeRequest">
        <div class="col-5">
          <div class="form-group" *ngIf="!emailChangeForm.isShow">
            <button [disabled]="!enableChangeEmail" type="button" class="btn btn-info waves-effect" (click)="showEmailChangeForm()">
              <span [innerHTML]="'SETTINGS.EMAIL.REQUEST_CHANGE_BUTTON' | translate:param"></span>
            </button>
          </div>
          <div class="form-group" *ngIf="emailChangeForm.isShow">
            <label [innerHTML]="'SETTINGS.EMAIL.TYPE_YOUR_EMAIL_HERE' | translate:param"></label>
            <div class="input-group">
              <input [placeholder]="'SETTINGS.EMAIL.TYPE_YOUR_EMAIL_HERE' | translate:param" type="text"
                class="form-control input-mask" [(ngModel)]="emailChangeForm.emailToChange">
              <i class="form-group__bar" style="bottom: 1px;"></i>
              <div class="input-group-append">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button [disabled]="emailChangeForm.is_processing" type="button" class="btn btn-success" (click)="submitEmailChangeRequest()">{{ 'BUTTONS.SUBMIT' | translate }}</button>
                  <button [disabled]="emailChangeForm.is_processing" type="button" class="btn btn-danger" (click)="hideEmailChangeForm()">{{ 'BUTTONS.CANCEL' | translate }}</button>
                </div>
              </div>

            </div>
            <span class="error-msg">{{ telErrorMessage }}</span>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="currentEmailChangeRequest">
        <div class="col-12">
          <div class="form-group">
            <label [innerHTML]="'SETTINGS.EMAIL.NEW_EMAIL_TO_CHANGE_TO' | translate:param"></label>
            <div>{{ currentEmailChangeRequest.new_email }}</div>
          </div>
          <div *ngIf="!currentEmailChangeRequest.new_email_confirmed">
            <div class="form-group">
              <label [innerHTML]="'SETTINGS.EMAIL.REQUEST_STATUS' | translate:param"></label>
              <div *ngIf="currentEmailChangeRequest.is_expired" class="email-change-request-status__expired">{{ 'SETTINGS.EMAIL.REQUEST_EXPIRED' | translate:param }}</div>
              <div *ngIf="!currentEmailChangeRequest.is_expired" class="email-change-request-status__waiting">{{ 'SETTINGS.EMAIL.WAITING_FOR_NEW_EMAIL_CONFIRM' | translate:param }}</div>
            </div>
            <div class="form-group request-btn">
              <button [disabled]="!isResendConfirmEmailEnable" type="button" class="btn btn-info waves-effect" (click)="resendVertificationEmailForChangeEmailRequest()">
                <span [innerHTML]="'SETTINGS.EMAIL.RESEND_CONFIRMATION_EMAIL' | translate:param"></span>
              </button>
              <button [disabled]="!isCancelRequestEnable" type="button" class="btn btn-danger waves-effect" (click)="cancelEmailChangeRequest()">
                <span [innerHTML]="'SETTINGS.EMAIL.CANCEL_REQUEST' | translate:param"></span>
              </button>
            </div>
          </div>
          <div *ngIf="currentEmailChangeRequest.new_email_confirmed">
            <div class="form-group">
              <label [innerHTML]="'SETTINGS.EMAIL.REQUEST_STATUS' | translate:param"></label>
              <div class="email-change-request-status__wait-admin">{{ 'SETTINGS.EMAIL.WAIT_FOR_ADMIN' | translate:param }}</div>
            </div>
            <div class="form-group request-btn">
              <button [disabled]="!isCancelRequestEnable" type="button" class="btn btn-danger waves-effect" (click)="cancelEmailChangeRequest()">
                <span [innerHTML]="'SETTINGS.EMAIL.CANCEL_REQUEST' | translate:param"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- OnlyOffice setting -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title" [innerHTML]="'ADMIN.SETTINGS.COLLAPSES.ONLYOFFICE' | translate: params"></h2>
    </div>
    <div class="card-block">
      <div class="row mb-2rem">
        <div class="col-3">
          <h4 class="card-block__title">onlyoffice_open_mode</h4>
        </div>
        <div class="col-9">
          <div class="d-flex justify-content-start mt--1rem">
            <div class="form-group mr-15px">
              <select #input_onlyoffice_open_mode
                     class="form-control w-30rem" (focus)="onSelectFocus('onlyoffice-open-mode')"
                     (blur)="onSelectBlur('onlyoffice-open-mode')">
                <option value="edit" [selected]="userInfo.onlyoffice_open_mode=='edit'">Edit Mode</option>
                <option value="preview" [selected]="userInfo.onlyoffice_open_mode=='preview'">Preview Mode</option>
              </select>
              <i class="form-group__bar"></i>
            </div>
            <div *ngIf="showAction['onlyoffice-open-mode']" class="btn-actions">
              <button class="btn btn-success waves-effect mr-3px" (click)="changeOnlyofficeOpenMode()">
                <i class="fal fa-check"></i>
              </button>
              <button class="btn btn-danger waves-effect">
                <i class="fal fa-times"></i>
              </button>
            </div>
          </div>
          <p [innerHTML]="'ADMIN.SETTINGS.URL.DESCRIBE_ONLYOFFICE_OPEN_MODE' | translate: params"></p>
        </div>
      </div>

    </div>
  </div>

  <!-- Language Setting -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title" [innerHTML]="'SETTINGS.LANGUAGE.SETTING_TITLE' | translate:param"></h2>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="form-group">
            <!-- <select class="select2" [(ngModel)]="choosenLanguage" (ngModelChange)="switchLanguage(choosenLanguage)">
              <option *ngFor="let lg of languages" [value]="lg.value">{{lg.name}}</option>
            </select> -->
            <select2 [data]="select2TranslateData" [options]="translateOptions" [value]="choosenLanguage" [width]="130"
              (valueChanged)="switchLanguage($event)"></select2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Default folder settings -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title" [innerHTML]="'SETTINGS.DEFAULT_FOLDER.SETTING_TITLE' | translate:param"></h2>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-12">
          <div *ngIf="isShowDefaultFolder">
            <span>{{ 'SETTINGS.DEFAULT_FOLDER.YOUR_DEFAULT_FOLDER' | translate:param }} :
              <a class="folder-color-hover" (click)="openDefaultFolder()">{{ defaultFolder.name }}</a>.
            </span>
          </div>
          <small class="card-subtitle" [innerHTML]="'SETTINGS.DEFAULT_FOLDER.DESCRIPTION' | translate:param"></small>
          <br />
          <button type="button" class="btn btn-info waves-effect" (click)="chooseDefaultFolder()">
            <span [innerHTML]="'SETTINGS.DEFAULT_FOLDER.CHOOSE_DEFAULT_FOLDER' | translate:param"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card" *ngIf="enableBBBSettings">
    <div class="card-header">
      <h2 class="card-title">{{ 'MEETING.PRIVATE_BBB_SETTING.TITLE' | translate }}</h2>
    </div>
    <div class="card-block">
      <div class="row mb-3rem">
        <div class="col-3">
          <h4 class="card-block__title">{{ 'MEETING.PRIVATE_BBB_SETTING.ACTIVE_CUSTOM_SERVER' | translate }}</h4>
        </div>
        <div class="col-9">
          <div class="mr-1rem">
            <div class="toggle-switch toggle-switch--green">
              <input type="checkbox" class="toggle-switch__checkbox" [(ngModel)]="bbbSettingForm.isActive">
              <i class="toggle-switch__helper"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="bbbSettingForm.isActive">
        <div class="col-4">
          <div class="form-group">
            <label><h4 class="card-block__title">{{ 'MEETING.PRIVATE_BBB_SETTING.SERVER_ADDRESS' | translate }}</h4></label>
            <input type="text" class="form-control input-mask" [(ngModel)]="bbbSettingForm.bbbUrl">
            <i class="form-group__bar"></i>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="bbbSettingForm.isActive">
        <div class="col-4">
          <div class="form-group">
            <label><h4 class="card-block__title">{{ 'MEETING.PRIVATE_BBB_SETTING.SECRET_KEY' | translate }}</h4></label>
            <input type="text" class="form-control input-mask" [(ngModel)]="bbbSettingForm.bbbSecret">
            <i class="form-group__bar"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <button [disabled]="bbbSettingForm.isProcessing" type="button" class="btn btn-info waves-effect" (click)="submitBBBSetting()">
              <span>{{ 'BUTTONS.SUBMIT' | translate }}</span>
            </button>
            <button [disabled]="bbbSettingForm.isProcessing" type="button" style="margin-left: 1rem;" class="btn btn-info waves-effect" (click)="testBBBSetting()">
              <span>{{ 'MEETING.PRIVATE_BBB_SETTING.TEST_CONNECTION' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- Delete Account -->
  <div class="card">
    <div class="card-header">
      <h2 class="card-title" [innerHTML]="'SETTINGS.DELETE_ACCOUNT.SETTING_TITLE' | translate:param"></h2>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-12">
          <small class="card-subtitle" [innerHTML]="'SETTINGS.DELETE_ACCOUNT.WARNING' | translate:param"></small>
          <br />
          <button type="button" class="btn btn-info waves-effect" (click)="showDeleteAccount()">
            <span [innerHTML]="'SETTINGS.DELETE_ACCOUNT.DELETE' | translate:param"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
<app-processing *ngIf="isProcessing"></app-processing>




<app-modal-change-password *ngIf="isOpenModal.change_password"></app-modal-change-password>
<app-delete-account-modal (DeleteAccountCallBack)="deleteAccountCallBack()"></app-delete-account-modal>
<app-choose-default-folder-modal [ownedFolders]="ownedFolders" (defaultFolderCallback)="defaultFolderCallback($event)">
</app-choose-default-folder-modal>
<app-modal-confirmation *ngIf="isOpenModal.delete_avatar"
  [title]="'MODAL_CONFIRMATION.TITLES.DELETE_AVATAR' | translate: params"
  [verifyQuestion]="'MODAL_CONFIRMATION.VERIFY_QUESTIONS.DELETE_AVATAR' | translate: params"
  (submit)="onDeleteAvatar()"></app-modal-confirmation>
