.error {
	height: 400px;
}
img.img--profile--custom {
  width: 9rem;
  height: 9rem;
}
.default__avatar {
  background: #cecece;
  padding: 3px 22px;
  margin: 0px 0px 0px 7px;
  color: #fff;
  font-size: 6rem;
}
