<div class="listview__item" style="padding: 0 0 15px 0;">
  <label class="custom-control custom-checkbox">
    <input #isPassword type="checkbox" class="custom-control-input" [checked]="isPasswordProtection" (change)="selectPasswordChange()">
    <span class="custom-control-indicator"></span>
  </label>
  <div class="listview__content">
    <p [innerHTML]="'FORMS.CHECK_BOXS.ADD_PASSWORD_PROTECTION' | translate: params"></p>
  </div>
</div>
<!-- Form password -->
<div *ngIf="isPasswordProtection">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" [ngClass]="{'has-danger':(errorMessage === 'PW_Required') || (errorMessage === 'PW_Length')  }">
        <label [innerHTML]="'FORMS.INPUTS.PASSWORD' | translate: params"></label>
        <input [ngClass]="{'form-control-danger':(errorMessage === 'PW_Required') || (errorMessage === 'PW_Length') }"
          [type]="isShowPass ? 'text' : 'password'" class="form-control input-mask input-protect" [(ngModel)]="model.password"
          name="password" #password="ngModel" required (ngModelChange)="passwordChanged($event)">
        <i class="form-group__bar"></i>
      </div>
    </div>
    <div class="col-sm-6 protect_button_list">
      <button class="btn btn-secondary btn--icon-text waves-effect protect_button" style="margin-left: -30px;" (click)="showPassword()"
        data-toggle="tooltip" [title]="'SHARED_FOLDERS.SHOW_PASSWORD' | translate: params">
        <i class="zmdi " [ngClass]="{'zmdi-eye-off':isShowPass, 'zmdi-eye':!isShowPass }"></i>
      </button>
      <button class="btn btn-secondary btn--icon-text waves-effect protect_button" (click)="generatePassword()"
        data-toggle="tooltip" [title]="'SHARED_FOLDERS.SHARE_FOLDER_RANDOM_PASSWORD' | translate: params">
        <i class="fal fa-magic"></i>
      </button>
    </div>
  </div>
  <div class="error-msg" *ngIf="errorMessage === 'PW_Required' && isPasswordProtection" [innerHTML]="'FORMS.REQUIRED.PASSWORD' | translate"></div>
  <div class="error-msg" *ngIf="errorMessage === 'PW_Length' && isPasswordProtection" [innerHTML]="'FORMS.REQUIRED.PUBLIC_SHARE_PASSWORD_LENGTH' | translate: {'numberOfCharacters': numberOfCharacters }"></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" [ngClass]="{'has-danger':(errorMessage === 'RPP_Required') || (errorMessage === 'RPP')  }">
        <label [innerHTML]="'FORMS.INPUTS.REPEAT_PASSWORD' | translate: params"></label>
        <input [ngClass]="{'form-control-danger':(errorMessage === 'RPP_Required') || (errorMessage === 'RPP') }"
          [type]="isShowPass ? 'text' : 'password'" class="form-control input-mask input-protect" [(ngModel)]="model.repeat"
          name="repeat" #repeat="ngModel" required (ngModelChange)="passwordChanged($event)">
        <i class="form-group__bar"></i>
      </div>
    </div>
  </div>
  <div class="error-msg" *ngIf="errorMessage === 'RPP_Required'" [innerHTML]="'FORMS.REQUIRED.REPEAT_PASSWORD' | translate"></div>
  <div class="error-msg" *ngIf="errorMessage === 'RPP'" [innerHTML]="'FORMS.REQUIRED.REPEAT_PASSWORD_DOES_NOT_MATCH' | translate"></div>
</div>

<div class="listview__item" style="padding: 15px 0 15px 0;" *ngIf="Expiration">
  <label class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" [checked]="isExpiration" (change)="selectDayChange()">
    <span class="custom-control-indicator"></span>
  </label>
  <div class="listview__content">
    <p [innerHTML]="'FORMS.CHECK_BOXS.ADD_AUTO_EXPIRATION' | translate: params"></p>
  </div>
</div>
<!-- Form Expiration -->
<div *ngIf="isExpiration">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group" [ngClass]="{'has-danger':(errorMessage === 'D_Required') || (errorMessage === 'D_Valid')  }">
        <label [innerHTML]="'FORMS.INPUTS.DAYS' | translate: params"></label>
        <input [ngClass]="{'form-control-danger':(errorMessage === 'D_Required') || (errorMessage === 'D_Valid') }"
          type="text" (keypress)="keyPress($event)" class="form-control input-mask input-protect padding-tex-input"
          [(ngModel)]="model.days" name="days" #days="ngModel" required>
        <i class="form-group__bar"></i>
      </div>
    </div>
  </div>
  <div class="error-msg" *ngIf="errorMessage === 'D_Required'" [innerHTML]="'FORMS.REQUIRED.DAYS' | translate"></div>
  <div class="error-msg" *ngIf="errorMessage === 'D_Exceed'" [innerHTML]="'SHARE_WITH_PASSWORD.EXPIRATION_CANNOT_EXCEED' | translate"></div>
  <div class="error-msg" *ngIf="errorMessage === 'D_Valid'" [innerHTML]="'FORMS.INVALID.DAYS' | translate"> </div>
</div>
<button type="button" class="btn btn-info waves-effect" style="margin-top: 15px;" (click)="generateAction()">
  <span [innerHTML]="'BUTTONS.GENERATE' | translate: params"></span>
</button>
