<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">
      <strong class="modal__insert__title">{{ 'PREVIEW.MODALS.INSERT_IMAGE.TITLE' | translate }}</strong>
    </h3>
  </div>

  <div class="modal-body">
    <div class="row mt-4 mb-4">
      <!-- <div class="col-12">
        <div class="form-group">
          <label for="exampleFormControlFile1">{{ 'PREVIEW.MODALS.INSERT_IMAGE.NEW_IMAGE'| translate }}</label>
          <input #fileInput type="file" accept="image/*" class="form-control-file" [(ngModel)]="linkSrc" value="newImage" id="newImg" (change)="onLinkSrcChange($event)">
        </div>
      </div> -->
      <div class="col-4">
        <label class="custom-control custom-radio"> <span class="direct--title">{{ 'PREVIEW.MODALS.INSERT_IMAGE.DIRECT_LINK'| translate }}</span>
          <input [(ngModel)]="imgSrc" value="direct-link" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
        </label>
      </div>
      <div class="col-8">
        <input [(ngModel)]="imgDirectLink" [disabled]="imgSrc!=='direct-link'" #fileInput type="text" class="form-control-file"
          id="direct-link" >
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col-4">
        <label class="custom-control custom-radio">
          <input [(ngModel)]="imgSrc" value="upload-file" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
        </label>
        <span>{{ 'PREVIEW.MODALS.INSERT_IMAGE.NEW_IMAGE'| translate }}</span>
      </div>
      <div class="col-8">
        <input [disabled]="imgSrc!=='upload-file'" #fileInput type="file" accept="image/*" class="form-control-file"
          [(ngModel)]="linkSrc" value="newImage" id="newImg" (change)="onLinkSrcChange($event)">
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col-12">
        <label class="custom-control custom-radio">
          <input [(ngModel)]="imgSrc" value="existing-img" type="radio" class="custom-control-input">
          <span class="custom-control-indicator"></span>
        </label>
        <span>{{ 'PREVIEW.MODALS.INSERT_IMAGE.EXISTING_IMAGE'| translate }}</span>
      </div>
    </div>

    <ng-container *ngIf="imgSrc==='existing-img'">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input [placeholder]="'SEARCHS.FILE' | translate" class="form-control" (keyup)="onSearchFilterChange($event)" />
            <i class="form-group__bar"></i>
          </div>
        </div>
      </div>
      <div class="row image-list">
        <div class="col-12">
          <ng-container *ngIf="!processes.isLoadingFileList">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th width=10%></th>
                  <th width="30%">{{'PREVIEW.MODALS.INSERT_LINK.FILENAME_TABLE_HEADER' | translate }}</th>
                  <th width="40%">{{'PREVIEW.MODALS.INSERT_LINK.PATH_TABLE_HEADER' | translate }}</th>
                  <th width="20%"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of fileListForDisplay; let index=index" (mouseover)="hoveredIndex=index"
                  (mouseleave)="hoveredIndex=-1">
                  <td>
                    <img [src]="file.thumbnailUrl" alt="">
                  </td>
                  <td>{{ file.name }}</td>
                  <td>{{ file.repo.name }}{{ file.parent_dir }}</td>
                  <td>
                    <button *ngIf="hoveredIndex===index && !file.isSelected" class="btn btn-success" (click)="onSelectImage(file)">{{'PREVIEW.MODALS.INSERT_LINK.SELECT_FILE_BTN'
                      | translate }}</button>
                    <span *ngIf="file.isSelected">
                      <i class="fal fa-2x fa-fw fa-check-circle"></i>
                    </span>
                  </td>
                  <!-- <td>{{ (folder.mtime | amFromUnix) | amTimeAgo }}</td> -->
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
      </div>
    </ng-container>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success btn--icon-text waves-effect" (click)="insertImage()">
      <span [innerHTML]="'BUTTONS.SUBMIT' | translate"></span>
    </button>
    <button type="button" class="btn btn-danger btn--icon-text waves-effect" (click)="cancel()">
      <span [innerHTML]="'BUTTONS.SAVE' | translate"></span>
    </button>
  </div>
</div>
