<div id="adminCreateEditMeetingModal" class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">
      <strong *ngIf="!isEdit">{{'MEETING.FORM.ADD_NEW' | translate}}</strong>
      <strong *ngIf="isEdit">{{'MEETING.FORM.EDIT' | translate}}</strong>
    </h3>
  </div>
  <form novalidate [formGroup]="addMeetingForm" (submit)="addMeeting()">
    <div class="modal-body">
      <div class="form-group form-group--float">
        <input #meetingName appFocus appFormControlFloat formControlName="meetingName" class="form-control"
          type="text" />
        <label>{{'MEETING.FORM.NAME' | translate}}</label>
        <i class="form-group__bar"></i>
      </div>
      <div class="form-group" *ngIf="!isEdit">
        <label>{{'MEETING.FORM.BBB_SETTING' | translate}}</label>
        <select formControlName="privateSetting" class="form-control">
          <option *ngFor="let bbbSetting of serverList" [value]="bbbSetting.id">
            <span>{{ bbbSetting.owner_id }} - {{ bbbSetting.setting_name }} ({{ bbbSetting.bbb_server_domain }})</span>
          </option>
        </select>
        <i class="form-group__bar"></i>
      </div>
      <div class="form-group" *ngIf="isEdit">
        <label>{{'MEETING.FORM.BBB_SETTING' | translate}}</label>
        <div>{{ meetingInfoToEdit.private_setting_info?.setting_name }}</div>
        <!-- <input #meetingPrivateSetting appFocus appFormControlFloat formControlName="private_setting" class="form-control" type="text" /> -->
      </div>
      <div *ngIf="isEdit" class="form-group">
        <label>{{'MEETING.FORM.OWNER' | translate}}</label>
        <div>{{owner}}</div>
      </div>
      <div class="form-group" *ngIf="!isEdit">
        <label>{{'MEETING.FORM.MEETING_OWNER' | translate}}</label>
        <input #meetingOwner formControlName="roomOwner" class="form-control" type="email"
          [placeholder]="'MEETING.FORM.INPUT_OWNER_PLACEHOLDER' | translate" />
        <i class="form-group__bar"></i>
      </div>

      <div class="row" style="padding-top: 1rem;">
        <div class="col-6">
          <div class="form-group input-group">
            <div class="form-group form-group--float">
              <input #modMeetingPIN appFormControlFloat formControlName="pinModerator" class="form-control"
                type="text" />
              <label>{{'MEETING.FORM.PIN_MODERATOR' | translate}}</label>
              <i class="form-group__bar"></i>
            </div>
            <span class="input-group-addon cursor-pointer" (click)="generatePin('moderator')">
              <i class="fal fa-magic"></i>
            </span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group input-group">
            <div class="form-group form-group--float">
              <input #attendeeMeetingPIN appFormControlFloat formControlName="pinAttendees" class="form-control"
                type="text" />
              <label>{{'MEETING.FORM.PIN_ATTENDEES' | translate}}</label>
              <i class="form-group__bar"></i>
            </div>
            <span class="input-group-addon cursor-pointer" (click)="generatePin('attendees')">
              <i class="fal fa-magic"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="listview__item" style="padding: 0">
          <label class="custom-control custom-checkbox">
            <input appFormControlFloat formControlName="allowStreaming" type="checkbox"
              class="custom-control-input">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="listview__content">
            <p>{{'MEETING.FORM.OPTION_ALLOW_STREAMING' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="listview__item" style="padding: 0">
          <label class="custom-control custom-checkbox">
            <input appFormControlFloat formControlName="allowStreamingFeedback" type="checkbox"
              class="custom-control-input">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="listview__content">
            <p>{{'MEETING.FORM.OPTION_ALLOW_STREAMING_FEEDBACK' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="listview__item" style="padding: 0">
          <label class="custom-control custom-checkbox">
            <input appFormControlFloat formControlName="requirePasswordToJoin" type="checkbox"
              class="custom-control-input">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="listview__content">
            <p>{{'MEETING.FORM.OPTION_REQUIRE_PASSWORD' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="listview__item" style="padding: 0">
          <label class="custom-control custom-checkbox">
            <input appFormControlFloat formControlName="muteParticipants" type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="listview__content">
            <p>{{'MEETING.FORM.OPTION_MUTE_PARTICIPANT' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="listview__item" style="padding: 0">
          <label class="custom-control custom-checkbox">
            <input appFormControlFloat formControlName="moderatorApproval" type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="listview__content">
            <p>{{'MEETING.FORM.OPTION_REQUIRE_MODERATOR_APPROVAL' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="listview__item" style="padding: 0">
          <label class="custom-control custom-checkbox">
            <input appFormControlFloat formControlName="allowUserStart" type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="listview__content">
            <p>{{'MEETING.FORM.OPTION_ALLOW_START' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="listview__item" style="padding: 0">
          <label class="custom-control custom-checkbox">
            <input appFormControlFloat formControlName="usersJoinAsModerator" type="checkbox"
              class="custom-control-input">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="listview__content">
            <p>{{'MEETING.FORM.OPTION_JOIN_AS_MODERATOR' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="globalAllowMeeting">
        <div class="listview__item" style="padding: 0">
          <label class="custom-control custom-checkbox">
            <input appFormControlFloat formControlName="allowRecording" type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
          </label>
          <div class="listview__content">
            <p>{{'MEETING.FORM.OPTION_ALLOW_RECORDING' | translate}}</p>
          </div>
        </div>
      </div>
      <div class="form-group form-group--float">
        <input #maxParticipants appFormControlFloat formControlName="maxParticipants" class="form-control"
          type="number" />
        <label>{{'MEETING.FORM.MAX_AMOUNT' | translate}}</label>
        <i class="form-group__bar"></i>
      </div>
      <div class="form-group">
        <label>{{'MEETING.FORM.WELCOME_MESSAGE_PLACEHOLDER' | translate}}</label>
        <textarea formControlName="welcomeMessage" class="form-control" rows="5"></textarea>
        <i class="form-group__bar"></i>
      </div>
      <div class="form-group">
        <span class="btn btn-secondary btn--icon-text waves-effect" (click)="choosePresentationFile()">
          {{'MEETING.FORM.CHOOSE_PRESENTATION_FILES' | translate}}
        </span>
        <!-- <label>{{'MEETING.FORM.PRESENTATION_FILES' | translate}}</label>
        <div *ngFor="let file of files; let index=index" class="d-flex cms-setting justify-content-start mt--1rem">
          <input appFormControlFloat readonly type="text" class="form-control" [value]="file">
          <i class="form-group__bar"></i>
          <span class="btn btn-secondary btn btn-danger" (click)="removeFile(file)">
            <i class="fal fa-times"></i>
          </span>
        </div>
        <br>
        <span class="btn btn-secondary btn--icon-text waves-effect" (click)="choosePresentationFile()">
          {{'MEETING.FORM.CHOOSE_PRESENTATION_FILES' | translate}}
        </span> -->
      </div>
      <table class="table table-sm table-hover">
        <tbody>
          <tr *ngFor="let file of files; let index=index">
            <td width="90%">
              <span *ngIf="index===0"><b>{{'MEETING.FORM.DEFAULT_FILE' | translate}}: {{file}}</b></span>
              <span *ngIf="index!==0">{{file}}</span>
            </td>
            <td><i class="fal fa-times actions__item" (click)="removeFile(file)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-success btn--icon-text waves-effect" (click)="addMeeting()"
        [disabled]="isProcessing ? 'disabled' : ''">
        <i *ngIf="isProcessing" class="fal fa-refresh fa-spin" style="margin-right: 5px;"></i>
        <span>{{'BUTTONS.SUBMIT' | translate}}</span>
      </button>
      <button type="button" class="btn btn-secondary btn--icon-text waves-effect" (click)="closeModal()">
        <span [innerHTML]="'BUTTONS.CLOSE' | translate"></span>
      </button>
    </div>
  </form>
</div>
