.content__title {
  h1 {
    text-transform: uppercase;
    .back-btn {
      font-size: 1.7rem;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}

.data-table__header {
  .data-table__filter {
    margin-right: 25px;
    width: 100%;
    max-width: 100%;
  }
  .row-selector {
    min-width: 11rem;
  }
  .data-table_buttons {
    margin: 10px 0 0 30px;
  }
}

td {
  vertical-align: middle;
  height: 60px;
  &.tb-name {
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .icon-folder {
      .tb-row-folder {
        font-size: 35px;
        float: left;
      }
      .tb-row-folder-lock {
        font-size: 15px;
        color: #e10032;
        margin-top: 14px;
        margin-left: -24px;
        margin-right: 3px;
        z-index: 1;
        position: absolute;
      }
    }
    span.name-folder {
      line-height: 35px;
    }
  }
  .member-avatar {
    max-width: 40px;
    max-height: 40px;
    //border-radius: 50%;
  }
}

a {
  &:hover {
    //text-decoration: underline;
  }
}

table {
  td {
    vertical-align: middle;
    @media (max-width:386px){
      padding-left: 0rem !important;
      padding-right: 0rem !important;
    }
  }
  th {
    &.sortable {
      cursor: pointer;
    }
  }
}

.actions__item {
  height: 0;
}

.no-edit {
  cursor: default;
}

i.far.fa-crown {
  margin: 7px 0px 0px 0px;
}

i.fas.fa-crown{
  margin: 7px 0px 0px 0px;
  color: #0067b3;
}

.data-table__footer {
  position: relative;
}

.wrapper__footer {
  position: absolute;
  right: 2rem;
  top: 0px;
}

i.fal.fa-2x.fa-ellipsis-v.actions__item {
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
  background: #fefefe;
  line-height: 2.5rem;
  margin-right: 7px;
}

.share-details-row {
  padding: 0px;
  td {
    padding: 0px;
    .share-details {
      padding: 0.75rem 1rem;
      border: solid 1px lightgrey;
      text-align: left;
      .actions {
        margin-top: 1rem;
        .actions__item {
          width: auto;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width:991px){
  tr{
    &:hover{
      background-color: #efefef;
    }
    th{
      &:last-child{
        text-align: right;
      }
    }
    td{
      height: auto !important;
      &:last-child{
        text-align: right;
      }
    }
  }
}

@media (max-width:530px){
  .fl--custom{
    flex-wrap: wrap;
  }
  .row-selector {
      position: absolute;
      right: 1.2rem;
      top: 24px;
  }
  .form-group.data-table__filter {
      margin: 0px !important;
      width: 100%;
  }
}

@media (max-width:386px){
  .card-block{
    padding: 1.1rem !important;
  }
  .row-selector {
    top: 12px;
  }
}
