<header class="content__title">
  <h1>
    <span [innerHTML]="'TITLE_PAGE.GROUPS' | translate: params"></span>
  </h1>
  <small [innerHTML]="'GROUPS.DESC' | translate: params"></small>
  <div class="actions list-grid-custom">
    <div class="range__size">
      <input *ngIf="!isListView" type="range" min="100" max="115" class="sliderr" [(ngModel)]="rangeSizeGrid"
        (ngModelChange)="onChangeRangeSizeGrid($event)" />
    </div>
    <div class="list__grid__button">
        <app-list-grid-button (onChangeViewMode)="onChangeViewMode($event)"></app-list-grid-button>
    </div>
  </div>
</header>

<div *ngIf="!isProcessing">
  <div class="card">
    <div class="card-block">
      <div class="data-table__header d-flex justify-content-betwwen fl--custom">
        <div class="form-group" *ngIf="currentUserPermission.can_add_group === undefined || currentUserPermission.can_add_group === true">
          <button (click)="createNewGroup()" class="btn btn-secondary waves-effect btn--icon-text mr-25px">
            {{'LIST_GROUPS.BTN_CREATE_NEW_GROUP' | translate:
            params}}</button>
        </div>
        <div class="form-group data-table__filter">
          <input [placeholder]="'SEARCHS.ALL_COLUMNS' | translate: params" class="form-control" (keyup)="onSearchFilterChange($event)" />
          <i class="form-group__bar"></i>

        </div>
        <div class="row-selector">
          <app-row-selector (changed)="onPerPageChanged($event)"></app-row-selector>
        </div>
      </div>

      <div *ngIf="displayedGroups">
        <!-- GRID VIEW -->
        <div *ngIf="isListView!==true">
          <div class="row lightbox photos">
            <div *ngFor="let item of displayedGroups; let index=index" class="col-xl-3 col-lg-3 col-sm-4 col-6"
              (mouseover)="hoveredIndex=index" (mouseleave)="hoveredIndex=-1">
              <div class="groups__item">
                <a [routerLink]="[item.id, 'group-management']">
                  <div class="groups__img" style="transition: all 0.5s "
                  [ngStyle]="{ 'transform': 'scale(' + rangeTransformScale + ')'} ">
                    <div *ngFor="let member of item.members" class="d-inline-block custom" >
                      <img *ngIf="!member.name_initial && !member.member_empty" class="avatar-img" [ngClass]="{'icon-empty': member.member_empty}"
                        [src]="member.avatar_url" alt="" style="transition: all 0.5s "
                        [ngStyle]="{ 'transform': 'scale(' + rangeTransformScale + ')'} ">
                      <div *ngIf="member.member_empty" class="empty--member" style="transition: all 0.5s "
                      [ngStyle]="{ 'transform': 'scale(' + rangeTransformScale + ')'} "></div>
                      <div *ngIf="member.name_initial" class="avatar-img avatar-char {{ member.icon_color }}" style="transition: all 0.5s "
                      [ngStyle]="{ 'transform': 'scale(' + rangeTransformScale + ')'} ">{{
                        member.name_initial
                        }}
                      </div>
                    </div>
                  </div>

                  <div class="groups__info">
                    <strong data-toggle="tooltip" title="{{ item.name }}">{{ item.name }}</strong>
                    <small data-toggle="tooltip" title="{{ item.owner.email }}">{{ item.owner.nick_name }}</small>
                    <!-- <br> -->
                    <small *ngIf="! item.owner.nick_name" class="text-truncate">{{ item.owner.email }}</small>
                    <br>
                    <small>
                      <span data-toggle="tooltip" title="{{ item.members_count }} Members" style="margin-right: 15px;">{{
                        item.members_count }}
                        <i class="fal fa-user-alt"></i>
                      </span>
                      <a [routerLink]="['/groups', item.id, 'folders']" class="a--custom">
                        <span data-toggle="tooltip" title="{{ item.repos_count }} Folders">{{ item.repos_count }}</span>
                        <i class="fas fa-folder fa-fw"></i>
                      </a>
                    </small>
                  </div>
                </a>
              </div>
              <div class="group-action dropdown actions__item">
                <i class="fal fa-ellipsis-v" data-toggle="dropdown" data-placement="bottom" title="Settings"></i>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="listview listview--hover">
                    <span *ngIf="loading" style="padding-left: 50px;">
                      <i class="fal fa-refresh fa-spin"></i>
                    </span>
                    <a *ngIf="item.permission.rename_group" class="dropdown-item" (click)="handleOpenSettingModal('rename-group', item)">
                      <span [innerHTML]="'LIST_GROUPS.OTHERS.RENAME' | translate: params"></span>
                    </a>
                    <a *ngIf="item.permission.transfer_group" class="dropdown-item" (click)="handleOpenSettingModal('transfer-group', item)">
                      <span [innerHTML]="'LIST_GROUPS.OTHERS.TRANSFER' | translate: params"></span>
                    </a>
                    <!-- <a *ngIf="isShownSettingMenu.manageGroup" class="dropdown-item" (click)="handleOpenSettingModal('manageGroup')"><span [innerHTML]=""></span>{{ 'LIST_GROUPS.OTHERS.MANAGE_MEMBERS' | translate: params }}</a> -->
                    <a *ngIf="item.permission.dismiss" class="dropdown-item" (click)="handleOpenSettingModal('dismiss', item)">
                      <span [innerHTML]="'LIST_GROUPS.OTHERS.DISMISS_GROUP' | translate: params"></span>
                    </a>
                    <a *ngIf="item.permission.leave" class="dropdown-item" (click)="handleOpenSettingModal('leave', item)">
                      <span [innerHTML]="'LIST_GROUPS.OTHERS.LEAVE_GROUP' | translate: params"></span>
                    </a>
                    <a *ngIf="item.permission.manage_group" class="dropdown-item" (click)="routerManageGroupPage(item.id)">
                      <span [innerHTML]="'LIST_GROUPS.OTHERS.GROUP_MANAGEMENT' | translate: params"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- LIST VIEW -->
        <div *ngIf="isListView===true">
          <table class="table table-hover table-sm">
            <thead>
              <tr *ngIf=" displayedGroupsLength !== 0 ">
                <th width="20%" class="d-none d-lg-table-cell"></th>
                <th width="15%">{{'LIST_GROUPS.TABLE_HEADERS.GROUP_NAME' | translate:
                  params}}</th>
                <th width="15%" class="d-none d-lg-table-cell">{{'LIST_GROUPS.TABLE_HEADERS.OWNER' | translate:
                  params}}</th>
                <th width="5%">{{'LIST_GROUPS.TABLE_HEADERS.NUMBER_OF_MEMBERS' |
                  translate: params}}</th>
                <th width="5%" class="d-none d-lg-table-cell">{{'LIST_GROUPS.TABLE_HEADERS.NUMBER_OF_FOLDERS' |
                  translate: params}}</th>
                <th width="25%">{{'LIST_GROUPS.TABLE_HEADERS.ACTIONS' | translate: params}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of displayedGroups; let index=index">
                <tr (mouseover)="hoveredIndex=index" (mouseleave)="hoveredIndex=-1">
                  <td class="d-none d-lg-table-cell">
                    <a [routerLink]="['/manage', 'groups',item.id,'group-management']">
                      <div class="groups__img">
                        <div *ngFor="let member of item.members" class="d-inline-block">
                          <img *ngIf="!member.name_initial && !member.member_empty" class="avatar-img" [ngClass]="{'icon-empty': member.member_empty}"
                            [src]="member.avatar_url" alt="">
                          <div *ngIf="member.member_empty" class="empty--member"></div>
                          <div *ngIf="member.name_initial" class="avatar-img avatar-char {{ member.icon_color }}">{{
                            member.name_initial
                            }}
                          </div>
                        </div>
                      </div>
                    </a>
                  </td>
                  <td class="text-ellipsis">{{ item.name }}</td>
                  <td class="d-none d-lg-table-cell text-ellipsis">{{ item.owner.email }}</td>
                  <td class="text-center">{{ item.members_count }}</td>
                  <td class="d-none d-lg-table-cell text-center">{{ item.repos_count }}</td>
                  <td class="d-none d-lg-table-cell">
                    <div class="list--options">
                      <!-- *ngIf="hoveredIndex==index" -->
                      <i *ngIf="item.permission.rename_group" class="fal fa-lg fa-pencil actions__item" aria-hidden="true"
                        data-toggle="tooltip" [title]="'LIST_GROUPS.OTHERS.RENAME' | translate: params" (click)="handleOpenSettingModal('rename-group', item)"></i>
                      <i *ngIf="item.permission.transfer_group" class="fal fa-lg fa-exchange actions__item" aria-hidden="true"
                        [title]="'LIST_GROUPS.OTHERS.TRANSFER' | translate: params" (click)="handleOpenSettingModal('transfer-group', item)"></i>
                      <i *ngIf="item.permission.dismiss" class="fal fa-lg fa-times actions__item" aria-hidden="true"
                        [title]="'LIST_GROUPS.OTHERS.DISMISS_GROUP' | translate: params" (click)="handleOpenSettingModal('dismiss', item)"></i>
                      <i *ngIf="item.permission.leave" class="fal fa-lg fa-times actions__item" aria-hidden="true"
                        [title]="'LIST_GROUPS.OTHERS.LEAVE_GROUP' | translate: params" (click)="handleOpenSettingModal('leave', item)"></i>
                      <i *ngIf="item.permission.manage_group" class="fal fa-lg fa-wrench actions__item" aria-hidden="true"
                        [title]="'LIST_GROUPS.OTHERS.GROUP_MANAGEMENT' | translate: params" (click)="routerManageGroupPage(item.id)"></i>
                      <i [routerLink]="['/groups', item.id, 'folders']" class="fal fa-lg fa-folder actions__item"
                        aria-hidden="true" [title]="'LIST_GROUPS.OTHERS.GROUP_FOLDER' | translate: params"></i>
                    </div>
                  </td>
                  <td class="d-sm-table-cell d-md-table-cell d-lg-none">
                    <a [href]="'#groups-'+index" data-toggle="collapse" role="button" aria-expanded="false"
                      aria-controls="share-0">
                      <i data-toggle="tooltip" title="Details" class="fal fa-2x fa-ellipsis-v actions__item"></i>
                    </a>
                  </td>
                </tr>

                <!-- Collapse details of share link for sm display -->
                <tr class="d-sm-table-row d-md-table-row d-lg-none share-details-row">
                  <td colspan="10">
                    <div class="collapse" [id]="'groups-'+index">
                      <div class="share-details">
                        <!-- <div>
                          <span>
                            <strong>{{'LIST_GROUPS.TABLE_HEADERS.GROUP_NAME'
                              | translate}}: </strong>
                            {{ item.name }} </span>
                        </div> -->
                        <div>
                          <span>
                            <strong>{{'LIST_GROUPS.TABLE_HEADERS.OWNER'
                              | translate}}: </strong>
                            {{ item.owner.email }} </span>

                        </div>
                        <!-- <div>
                          <span>
                            <strong>{{'LIST_GROUPS.TABLE_HEADERS.NUMBER_OF_MEMBERS'
                              | translate}}: </strong>
                            {{ item.members_count }} </span>
                        </div> -->
                        <div>
                          <span>
                            <strong>{{'LIST_GROUPS.TABLE_HEADERS.NUMBER_OF_FOLDERS' |
                              translate: params}}: </strong>
                            {{ item.repos_count }}
                          </span>
                        </div>
                        <div class="actions">
                          <i *ngIf="item.permission.rename_group" class="fal fa-lg fa-pencil actions__item" aria-hidden="true"
                            data-toggle="tooltip" [title]="'LIST_GROUPS.OTHERS.RENAME' | translate: params" (click)="handleOpenSettingModal('rename-group', item)"></i>
                          <i *ngIf="item.permission.transfer_group" class="fal fa-lg fa-exchange actions__item"
                            aria-hidden="true" [title]="'LIST_GROUPS.OTHERS.TRANSFER' | translate: params" (click)="handleOpenSettingModal('transfer-group', item)"></i>
                          <i *ngIf="item.permission.dismiss" class="fal fa-lg fa-times actions__item" aria-hidden="true"
                            [title]="'LIST_GROUPS.OTHERS.DISMISS_GROUP' | translate: params" (click)="handleOpenSettingModal('dismiss', item)"></i>
                          <i *ngIf="item.permission.leave" class="fal fa-lg fa-times actions__item" aria-hidden="true"
                            [title]="'LIST_GROUPS.OTHERS.LEAVE_GROUP' | translate: params" (click)="handleOpenSettingModal('leave', item)"></i>
                          <i *ngIf="item.permission.manage_group" class="fal fa-lg fa-wrench actions__item" aria-hidden="true"
                            [title]="'LIST_GROUPS.OTHERS.GROUP_MANAGEMENT' | translate: params" (click)="routerManageGroupPage(item.id)"></i>
                          <i [routerLink]="['/groups', item.id, 'folders']" class="fal fa-lg fa-folder actions__item"
                            aria-hidden="true" [title]="'LIST_GROUPS.OTHERS.GROUP_FOLDER' | translate: params"></i>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>


        <!-- EMPTY ITEM -->
        <app-empty-item *ngIf="displayedGroups.length === 0 && this.dataListGroups.length === 0" [messageTitle]="('GROUP_MANAGEMENT.SEARCH.NO_GROUP_ADDED') | translate: params"></app-empty-item>
        <app-empty-item *ngIf="displayedGroups.length === 0 && this.dataListGroups.length !== 0" [messageTitle]="('GROUP_MANAGEMENT.SEARCH.GROUP_NOT_FOUND') | translate: params"
          [messageSub]="('GROUP_MANAGEMENT.SEARCH.GROUP_SUB_NOT_FOUND') | translate: params"></app-empty-item>

      </div>
    </div>
  </div>
  <pagination [itemsPerPage]="pagination.itemsPerPage" [boundaryLinks]="true" [maxSize]="maxSize" [totalItems]="this.filteredList.length"
    (pageChanged)="pageChanged($event)"></pagination>
</div>

<app-rename-group *ngIf="isOpenSettingGroupModal.rename_group" [groupInfo]="currentGroupInfo" (onRenameGroupSuccess)="renameGroupSuccess()"></app-rename-group>
<app-transfer-group *ngIf="isOpenSettingGroupModal.transfer_group" [groupInfo]="currentGroupInfo"
  (onTransferGroupSuccess)="transferGroupSuccess()"></app-transfer-group>
<app-dismiss-leave-group-modal *ngIf="isOpenSettingGroupModal.dismiss_leave" [typeModal]="typeModal" [groupInfo]="currentGroupInfo"
  [currentEmailLogin]="currentLoginUser.email" (DismissLeaveCallback)="reloadListGroup($event)"></app-dismiss-leave-group-modal>
<app-modal-create-new-group *ngIf="openModal.new_group" (handleCloseModal)="handleCloseModal($event)" (addGroupToList)="handleAddGroupToList($event)"></app-modal-create-new-group>
<app-processing *ngIf="isProcessing"></app-processing>
