.action-link {
  //color: #0067b3!important;
  &:hover {
    text-decoration: underline!important
  }
}

.clear-space {
  height: 1rem;
}

.tb-email {
  &:hover {
    //text-decoration: underline;
  }
}

.dropdown-title .actions {
  top: 0;
  right: 0;
}

.action {
  opacity: 0;
  display: none;
  &.show {
    opacity: 1;
    display: block;
  }
}

.action.wrap__ico {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ico--size {
  font-size: 18px;
  margin: 2px;
}

td {
  // height: 65px;
  vertical-align: middle;
}

.data-table {
  margin-top: 30px;
}

.data-table__filter {
  margin-right: 25px;
  width: calc(100% - 273px);
  max-width: 70%;
  margin-top: 4px;
}

:host ::ng-deep {
  pagination ul.pagination {
    justify-content: flex-end;
  }
}

.data-table__footer {
  padding: 0 2.1rem;
}

.data-table_buttons {
  width: auto;
}

.push-right {
  flex: 1;
}

.btn {
  margin-right: 5px;
}

.form-group {
  align-self: center;
}

.count-items-checked {
  font-weight: bold;
  margin-right: 1rem;
  color: #9E9E9E;
}

.btn--custom {
  width: auto;
  height: 30px;
  margin-top: 4px;
  box-sizing: border-box;
  i.actions__item.zmdi.zmdi-account-add {
      color: #292b2c;
      margin: -4px 0px 0px 0px;
  }
}

i.far.fa-crown {
  margin: 7px 0px 0px 0px;
  font-size: 18px;
}
i.fas.fa-crown{
  margin: 7px 0px 0px 0px;
  font-size: 18px;
  color: #0067b3;
}
.ct--ico {
  font-size: 18px;
  margin: 1px;
}
i.actions__item.fas.fa-trash-alt {
  line-height: 31px;
}
.sort-icon{
  float: right;
  color: #000;
}

.share-details-row {
  padding: 0px;
  td {
    padding: 0px;
    .share-details {
      padding: 0.75rem 1rem;
      border: solid 1px lightgrey;
      text-align: left;
      .actions {
        margin-top: 1rem;
        .actions__item {
          width: auto;
          margin-right: 10px;
        }
      }
    }
  }
}

table{
  tr{
    th{
      height: 70px;
      @media (max-width: 991px) {
        height: auto !important;
      }
    }
    td{
      height: 70px;
      @media (max-width: 991px) {
        height: auto !important;
      }
    }
  }
}

.wrapper__btn {
  display: flex;
  margin-right: 7px;
  margin-top: 4px;
  .btn--custom{
    margin: 4px 2px;
  }

  @media (max-width: 420px){
    flex-wrap: wrap;
  }
}

@media (max-width:991px){
  tr{
    &:hover{
      background-color: #efefef;
    }
    th{
      &:first-child{
        width: 1%;
      }
      &:nth-child(2){
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
    td{
      &:first-child{
        width: 1%;
      }
      &:nth-child(2){
        text-align: left;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
}

i.fal.fa-2x.fa-ellipsis-v.actions__item {
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
  background: #fefefe;
  line-height: 2.5rem;
  margin-right: 7px;
}



@media (max-width:500px){
  tr{
    th{
      &:first-child{
        padding-left: 0rem;
      }
      &:nth-child(2){
        padding-left: 0px;
      }
    }
    td{
      &:first-child{
        padding-left: 0rem;
      }
      &:nth-child(2){
        padding-left: 0px;
      }
    }
  }
  .card-block{
    padding: 1rem !important;
  }
  .custom-control{
    padding-left: 1rem !important;
    margin-right: 0px !important;
  }
}

@media (max-width: 768px){
  .fl--custom{
    flex-wrap: wrap;
  }
  .data-table__filter{
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0px !important;
    margin:10px 0px;
  }
  .row-selector {
      position: absolute;
      right: 15px !important;
      top: 25px !important;
  }
}

@media (max-width: 620px){
  .row-selector {
      position: static;
  }
}

.row-selector {
  margin-top: 4px;
}
