<div class="modal fade" id="modal-change-password" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title custom-title" [innerHTML]="'CHANGE_PASSWORD.MODAL_TITLE' | translate"></h5>
      </div>
      <form autocomplete="off" (keyup.enter)="submitChangePassword()">
        <div class="modal-body">
          <div class="form-group input" [ngClass]="{'has-danger': error.type==='old-password'}">
            <label [innerHTML]="'CHANGE_PASSWORD.CURRENT_PASSWORD' | translate">
              <span class="star-required">(*)</span>
            </label>
            <input type="password" class="form-control input-mask" required [(ngModel)]="model.oldPassword" name="oldPassword" #oldPassword="ngModel"
              #oldPassword [ngClass]="{'form-control-danger': error.type==='old-password'}">
            <i class="form-group__bar"></i>
          </div>
          <div *ngIf="error.type==='old-password'" class="error-msg">{{ error.message }}</div>

          <div class="form-group input" [ngClass]="{'has-danger': error.type==='new-password1'}">
            <label [innerHTML]="'CHANGE_PASSWORD.NEW_PASSWORD' | translate">
              <span class="star-required">(*)</span>
            </label>
            <input type="password" class="form-control input-mask" required [(ngModel)]="model.newPassword" name="newPassword" #newPassword="ngModel"
              #newPassword [ngClass]="{'form-control-danger': error.type==='new-password1'}">
            <i class="form-group__bar"></i>
          </div>
          <div *ngIf="error.type==='new-password1'" class="error-msg">{{ error.message }}</div>

          <div class="form-group input" [ngClass]="{'has-danger': error.type==='new-password2'}">
            <label [innerHTML]="'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate">
              <span class="star-required">(*)</span>
            </label>
            <input type="password" class="form-control input-mask" required [(ngModel)]="model.confirmPassword" name="confirmPassword"
              #confirmPassword="ngModel" #confirmPassword [ngClass]="{'form-control-danger': error.type==='new-password2'}">
            <i class="form-group__bar"></i>
          </div>
          <div *ngIf="error.type==='new-password2'" class="error-msg">{{ error.message }}</div>
        </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-success btn--icon-text waves-effect" (click)="submitChangePassword()">
          <i *ngIf="isProcessing" class="fal fa-sync-alt fa-spin"></i>
          <span [innerHTML]="'BUTTONS.SAVE_CHANGE' | translate"></span>
        </button>
        <button type="button" class="btn btn-link" data-dismiss="modal">
          <span [innerHTML]="'BUTTONS.CLOSE' | translate"></span>
        </button>
      </div>
    </div>
  </div>
</div>
