td {
  vertical-align: middle;
  line-height: 30px;
}

.tb-name {
  max-width: 0;
  span{
    &:hover {
      color: #0067b3;
      //text-decoration: underline;
    }
  }
  .icon-group {
    font-size: 35px;
    width: 45px;
    text-align: center;
    margin-right: 8px;
  }
}

.tb-operations {
  i {
    &:hover {
      color: #0067b3;
    }
  }
}

:host ::ng-deep app-empty-item .card {
  margin-bottom: 0;
}

@media (max-width:991px){
  tr{
    th{
      &:last-child{
        text-align: right;
      }
    }
    td{
      .share-details:hover {
          background: #fff;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
}

.share-details-row {
  padding: 0px;
  td {
    padding: 0px;
    .share-details {
      padding: 0.75rem 1rem;
      border: solid 1px lightgrey;
      text-align: left;
      .actions {
        margin-top: 1rem;
        .actions__item {
          width: auto;
          margin-right: 10px;
        }
      }
    }
  }
}
a.folder__name {
  word-break: break-all;
}

i.fal.fa-2x.fa-ellipsis-v.actions__item {
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
  background: #fefefe;
  line-height: 2.5rem;
  margin-right: 7px;
}
