<div *ngIf="!isPageNotFound">
  <app-share-link-audit *ngIf="hasAudit" [token]="token" [typeShareLink]="'d_files'" [p]="path" (sendDataAuditSuccess)="receiveDataAuditSuccess($event)"></app-share-link-audit>
  <app-password-share-link *ngIf="hasPasswordProtected" [token]="token" [type]="'d_files'" [p]="path" (sendDataPassProtectedSuccess)="receiveDataPassProtectedSuccess($event)"></app-password-share-link>

  <main *ngIf="(!hasAudit && dataDownload) || (!hasPasswordProtected && dataDownload)" class="main" [attr.data-ma-theme]="maTheme">
    <app-share-link-preview [fileDetails]="dataDownload" [token]="token" [type]="'d_files'" [p]="path"></app-share-link-preview>
  </main>
</div>

<div class="footer--custom">
  <app-footer></app-footer>
</div>

<app-page-not-found *ngIf="isPageNotFound"></app-page-not-found>
