.input-custom {
	width: calc(100% - 115px);
  border: 0px;
  cursor: pointer;
  background-color: lightgrey;
  height: 31px;
  vertical-align: middle;
  resize: none;
  padding: 2px;
}

.btn-demo {
	margin-top: 20px;
}