<div class="modal fade" id="zip-progress-modal" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left">Creating archive...</h5>
      </div>
      <div class="modal-body">
        <div>
          Zipping ... {{ currentZipFile }} of {{ totalZipFile }}
        </div>
        <div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger btn--icon-text waves-effect" (click)="deleteFolder()">Yes</button>
          <button type="button" class="btn btn-secondary btn--icon-text waves-effect" data-dismiss="modal">No</button> -->
      </div>
    </div>
  </div>
</div>
