.table th, .table td {
  vertical-align: middle;
}

td > * {
  vertical-align: middle;
}

.zmdi {
  cursor: pointer;
}

.fa-hc-1dot5x {
  font-size: 1.5rem;
}

.tb-row-folder-read-only, .tb-row-folder-lock {
  font-size: 13px;
  color: #e10032;
  margin-top: 5px;
  margin-left: -22px;
  padding-right: 10px;
}

.folder-icon {
  font-size: 35px;
  float: left;
  margin-top: -5px;
}

.tb-name {
  max-width: 0;
  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.action {
  opacity: 0;
  &.show {
    opacity: 1;
  }
}

.data-table__filter {
  margin-right: 30px;
  width: 100%;
  max-width: 100%;
}

.data-table__footer {
  position: absolute;
  right: 0;
  margin-top: 3.7rem;
}

.row-selector {
  min-width: 13rem;
}
