<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">
      <strong>{{ 'WIKIS.WIKI_PAGES.MODALS.WIKI_PAGE_RENAME_TITLE' | translate }}</strong>
    </h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input appFocus [(ngModel)]="newName" class="form-control" type="text" />
      <i class="form-group__bar"></i>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-success btn--icon-text waves-effect" (click)="renamePage()" [disabled]="isProcessing ? 'disabled' : ''">
      <i *ngIf="isProcessing" class="fal fa-refresh fa-spin" style="margin-right: 5px;"></i>
      <span [innerHTML]="'BUTTONS.SUBMIT' | translate"></span>
    </button>
  </div>
</div>