.hight-light-text {
  color: #FF5722 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.modal-md {
  max-width: 420px;

  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0067b3;
  }

  .modal-body {
    font-size: 14px;

    .modal-title-name {
      font-weight: bold;
      color: #e10032;
      word-break: break-all;
    }

    .modal-warning {
      color: #e10032;
      word-break: break-word;
      font-size: 13px;
      font-weight: bold;
    }
  }
}

:host ::ng-deep .modal-title-name {
  font-weight: bold;
  color: #e10032;
  word-break: break-all;
}

.modal-dialog.modal-md{
  width:92vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px auto !important;
}

@media screen and (max-width:320px) {
  .modal-dialog.modal-md{
    width:92vw;
    margin: 0px auto !important;
  }
}

