.data-table__header {
  .data-table__filter {
    margin-right: 25px;
    width: 100%;
    max-width: 100%;
  }
  .row-selector {
    min-width: 11rem;
  }
  .data-table_buttons {
    margin: 10px 0 0 30px;
  }
}

a {
  font-weight: bold;
  &:hover {
    //text-decoration: underline;
    color: #0067b3;
  }
}

table {
  td {
    vertical-align: middle;
    word-break: break-all;
    max-width: 20vh;
  }
  th {
    word-break: break-all;
  }
  th.sortable {
    cursor: pointer;
  }
  .sort-icon {
    float: right;
    color: black;
  }

  .icon-folder {
    float: left;
    margin-right: 0.5rem;
  }

  .share-item-name {
    margin-top: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .share-details-row {
    padding: 0px;
    td {
      padding: 0px;
      .share-details {
        text-align: left;
        padding: 0.75rem 1rem;
        border: solid 1px lightgrey;
        .actions {
          margin-top: 1rem;
          .actions__item {
            width: auto;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

i.fal.fa-2x.fa-ellipsis-v.actions__item {
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
  background: #fefefe;
  line-height: 2.5rem;
  margin-right: 7px;
}


.actions__item {
  height: 0;
}

@media (max-width:991px){
  tr{
    &:hover{
      background-color: #efefef;
    }
    th{
      &:last-child{
        text-align: right;
      }
    }
    td{
      .share-details:hover {
          background: #fff;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
}

.data-table__footer {
  position: relative;
  .wrapper__footer {
      position: absolute;
      right: 2rem;
      top: 0px;
  }
}

@media (max-width: 374px){
  .fl--custom{
    flex-wrap: wrap;
  }
  .data-table__filter{
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 10px;
  }
  .row-selector{
    margin: 8px 0px !important;
  }
}
