<header>
  <div class="login__block__header__custom">
    <a data-toggle="tooltip" [title]="logoTooltip" [routerLink]="'/'"><img [src]="logoURL" (error)="logoErrorHandler($event)"
        height="30rem" alt=""></a>
    <div class="select__languages">
      <select2 [data]="select2TranslateData" [options]="translateOptions" [value]="choosenLanguage" [width]="88"
        (valueChanged)="switchLanguage($event)"></select2>
    </div>
  </div>
</header>

<div class="login">
  <!-- Login -->
  <div class="login__block active" id="l-login">
    <div class="login__block__header">
      <i class="fal fa-key"></i> {{ titlePasswordProtected }}
    </div>
    <div class="login__block__body" (keyup.enter)="submitPasswordProtected()">

      <p class="mt-4">{{ 'NOTIFICATION_MESSAGE.SHARE_LINK_PASSWORD_DESCRIPTION' | translate}}</p>
      <div class="form-group" [ngClass]="{'has-danger': errorMessage }">
        <label class="lbl--custom">{{ 'NOTIFICATION_MESSAGE.PASSWORD_PROTECTED' | translate }}</label>
        <input #password type="password" class="form-control input-mask input-center" [ngClass]="{ 'form-control-danger': errorMessage }"
          [(ngModel)]="model.password" name="password" #password="ngModel" required autofocus="true">
        <i class="form-group__bar"></i>
      </div>
      <p class="msg_error" *ngIf="errorMessage">
        {{ errorMessage }}</p>

      <a (click)="submitPasswordProtected()" class="btn btn--icon login__block__btn bgi_white">
        <!-- <i class="fal fa-chevron-right"></i> -->
        {{ 'NOTIFICATION_MESSAGE.PASSWORD_CHECK_BUTTON' | translate }}
      </a>

    </div>
  </div>
</div>
