.key-icon {
  width: 25%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.error-msg {
  margin-top: -25px;
}

.modal-sm {
  max-width: 350px;
}

.ct{
  width: 100%;
  padding: 0px 9rem;
}
