<div class="modal" id="password-folder-modal" data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title pull-left"><span class="modal-title-name">{{Data ? Data.name : ''}}</span>  Details</h5> -->
      </div>

      <div class="modal-body">
        <div>
          <i class="fal fa-key fa-5x ct"></i>
        </div>
        <p class="text-center" style="font-size: 19px;">{{ 'ADMIN.SETTINGS.FOLDER.PASSWORD_PROTECTED' | translate: {'nameFolder': nameFolder } }}</p>
        <div class="form-group" (keyup.enter)="authPasswordFolder()" [ngClass]="{'has-danger': (errorMessage.message !== '') }">
          <label class="text-center" style="display: block">{{ 'ADMIN.SETTINGS.FOLDER.PASSWORD' | translate }}</label>
          <input type="password" class="form-control input-mask input-center" name="password" #password="ngModel"
            #focusPassword [(ngModel)]="model.password">
          <i class="form-group__bar"></i>
        </div>
        <p class="error-msg" *ngIf="errorMessage.message !== ''">{{ errorMessage.message }}</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success btn--icon-text waves-effect" (click)="authPasswordFolder()">{{
          'BUTTONS.SUBMIT' | translate }}</button>
        <button type="button" class="btn btn-secondary btn--icon-text waves-effect" (click)="quitModal()">{{
          'BUTTONS.CLOSE' | translate }}</button>
      </div>
    </div>
  </div>
</div>
