<!-- START DESKTOP SIZE -->
<div *ngIf="listFiles.length > 0" class="data-table" class="large__size">
  <table>
    <thead>
      <tr>
        <th width="5%">
          <label class="custom-control custom-checkbox">
            <input #checkAll type="checkbox" class="custom-control-input" name="checkAll" (click)="handleCheckAll()">
            <span class="custom-control-indicator"></span>
          </label>
        </th>
        <th *ngFor="let column of columns" [width]="column.width" [class]="column.class" (click)="column.sort!==false ? sortColumnSelected(column) : ''">
          <span [innerHTML]="column.title | translate: params"></span>
          <ng-container>
            <i *ngIf="column.sort==='asc'" class="fal fa-sort-amount-up sort-icon float-right ico--custom"></i>
            <i *ngIf="column.sort==='desc'" class="fal fa-sort-amount-down sort-icon float-right ico--custom"></i>
          </ng-container>
        </th>
        <th class="cursor-text" width="20%">
          <span [innerHTML]="'TABLE.COLUMNS.ACTIONS' | translate: params"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let r of listFiles; let index=index">
        <tr (mouseover)="hoveredIndex=index" (mouseleave)="hoveredIndex=-1" class="item-row" [ngClass]="{'hl':index==hoveredIndex}">
          <td>
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" (click)="handleChecked(r)" name="optionChecked"
                [checked]="r.isChecked">
              <span class="custom-control-indicator"></span>
            </label>
          </td>
          <td class="tb-name">
            <div class="vertical-items">
              <!-- ICON FOLDER -->
              <div *ngIf="r.type === 'dir'; else icon_file_content" class="icon-folder">
                <a *ngIf="rename != index" (click)="!isSingleClick && openFolder(r.name, r.type)">
                  <i class="fas fa-folder fa-fw tb-row-folder"></i>
                  <i class="fal fa-eye tb-row-folder-lock" *ngIf="r.encrypted || r.permission ==='r'"></i>
                </a>
              </div>
              <!-- ICON FILE -->
              <ng-template #icon_file_content>
                <div class="icon-file center-img">
                  <a *ngIf="rename != index" (click)="isEnabledFilePreview && !isSingleClick && openFolder(r.name, r.type)">
                    <img *ngIf="!r.imgError || (r.imgError && r.imgError !== 1 ) " (error)="setErrorImg(index)"
                      max-height="90px" src="{{ r.name | fileIconPath: false: repoId: parentPath + r.name: 50 }}"
                      (error)="setErrorImg(index)">

                    <div *ngIf="(r.imgError && r.imgError===1 ) ">
                      <i class="{{ r.name | customFileIcon }}" id="icon--listview"></i>
                    </div>
                  </a>
                  <i class="fal fa-eye tb-row-folder-lock" *ngIf="(r.encrypted || r.permission === 'r') && r.type === 'dir'"></i>
                  <i class="fal fa-lock tb-row-folder-lock" *ngIf="r.is_locked && r.type === 'file'"></i>
                </div>
              </ng-template>
              <a *ngIf="rename != index" (click)="isEnabledFilePreview && !isSingleClick && openFolder(r.name, r.type)"
                class="name" [ngClass]="{'name-starred': r.starred}" data-toggle="tooltip" data-title="{{r.name}}">{{r.name
                | splice_length: 65}} </a>
              <div *ngIf="rename == index" class="input-group">
                <div class=" tb-name-input form-group">
                  <input #renameInput type="text" class="form-control" value={{r.name}} (keyup.esc)="rename = -1"
                    (keypress)="onKeyPress($event, r.type)" (keyup.enter)="changeName(r, $event, index)" (focusout)="rename = -1"
                    maxlength="255">
                  <i class="form-group__bar"></i>
                </div>
                <button class="btn btn-success waves-effect" (mousedown)="triggerNameChange()">
                  <i class="fal fa-check"></i>
                </button>
                <button class="btn btn-danger waves-effect" (click)="rename = -1">
                  <i class="fal fa-times"></i>
                </button>
              </div>
            </div>
          </td>

          <td class="d-none d-lg-table-cell time">
            <span [ngClass]="{'name-starred': r.starred}" data-toggle="tooltip" title="{{ r.mtime * 1000 | date: 'EEEE, d MMM yyyy - HH:mm:ss Z' }}">{{
              r.mtime * 1000 | date: 'dd.MM.yyyy - HH:mm:ss' }}</span>
          </td>
          <td class="d-none d-lg-table-cell size">
            <div *ngIf=" r.type==='file'">
              <span [ngClass]=" {'name-starred':
                    r.starred}">{{r.size | customFileSize}}</span>
            </div>
          </td>
          <td class="d-none d-lg-table-cell email">
            <div class="vertical-items">
              <span data-toggle="tooltip" [title]="r.modifier_email" class="name" [ngClass]="{'name-starred': r.starred}">{{
                r.modifier_email }} {{ (r.type === 'file' && currentUserPermission.can_generate_share_link !== false) }}</span>
            </div>
          </td>
          <td class="d-none d-lg-table-cell permission">
            <span [ngClass]="{'name-starred': r.starred}" *ngIf="r.permission === 'rw'" [innerHTML]="'PERMISSIONS.READ_WRITE' | translate: params"></span>
            <span [ngClass]="{'name-starred': r.starred}" *ngIf="r.permission === 'r'" [innerHTML]="'PERMISSIONS.READ' | translate: params"></span>
          </td>
          <td class="d-none d-lg-table-cell action">
            <div class="tb-row-menu-name">
              <div class="list__option__big__size">
                <i class="actions__item fal fa-download green-color-hover ico-custom" data-toggle="tooltip" [title]="'TOOLTIPS.DOWNLOAD' | translate: params"
                  (click)="downloadItem(r)"></i>
                <i *ngIf="!repoEncrypted && (r.type === 'dir' || (r.type === 'file' && currentUserPermission.can_generate_share_link !== false)) && isEnabledPubliclShare"
                  class="actions__item fal fa-share-alt green-color-hover ico-custom" data-target="#share-modal"
                  (click)="shareFolder(r,index)" data-toggle="tooltip" [title]="'TOOLTIPS.SHARE' | translate: params"></i>
                <i *ngIf="r.permission==='rw'" class="actions__item fal fa-trash-alt green-color-hover ico-custom"
                  data-target="#delete-file-modal" data-toggle="tooltip" [title]="'TOOLTIPS.DELETE' | translate: params"
                  (click)="removeFolder(r,index)"></i>

                <span class="icon-favorite" *ngIf="r.type === 'file'" class="mark__un__fv">
                  <i class="fas fa-star checked" *ngIf="r.starred" data-toggle="tooltip" [title]="'TOOLTIPS.UNFAVORITE' | translate: params"
                    (click)="removeFileStarred(r.name, index)"></i>
                  <i class="fal fa-star unchecked" *ngIf="!r.starred" data-toggle="tooltip" [title]="'TOOLTIPS.FAVORITE' | translate: params"
                    (click)="markFileStarred(r.name, index)"></i>
                </span>

                <div class="dropup actions__item">
                  <span data-toggle="tooltip" [title]="'TOOLTIPS.MORE_OPERATIONS' | translate: params">
                    <i data-toggle="dropdown" class="actions__item fal fa-ellipsis-v green-color-hover ico-last"></i>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a [routerLink]="" role="button" *ngIf="r.permission === 'rw'" class="dropdown-item" (click)="rename = index" (click)="clickOnNameChange(r)">
                        <span [innerHTML]="'BUTTONS.RENAME' | translate: params"></span>
                      </a>
                      <a [routerLink]="" role="button" *ngIf="r.permission === 'rw'" class="dropdown-item" (click)="moveFileFolder(r, index)">
                        <span [innerHTML]="'BUTTONS.MOVE' | translate: params"></span>
                      </a>
                      <a [routerLink]="" role="button" class="dropdown-item" *ngIf="r.type === 'file' && !r.is_locked" (click)="lockFile(r, index)">
                        <span [innerHTML]="'BUTTONS.LOCK' | translate: params"></span>
                      </a>
                      <a [routerLink]="" role="button" class="dropdown-item" *ngIf="r.type === 'file' && r.is_locked && (r.locked_by_me || checkFileLockByMe(r.name))" (click)="unlockFile(r, index)">
                        <span [innerHTML]="'BUTTONS.UNLOCK' | translate: params"></span>
                      </a>
                      <a [routerLink]="" role="button" *ngIf="r.encrypted" class="dropdown-item">
                        <span [innerHTML]="'BUTTONS.CHANGE_PASSWORD' | translate: params"></span>
                      </a>
                      <a [routerLink]="" role="button" class="dropdown-item" (click)="copyFileFolder(r)">
                        <span [innerHTML]="'BUTTONS.COPY' | translate: params"></span>
                      </a>
                      <a [routerLink]="" role="button" *ngIf="r.permission === 'rw' && r.type === 'file'" class="dropdown-item" (click)="historyFile(r.name)">
                        <span [innerHTML]="'BUTTONS.HISTORY' | translate: params"></span>
                      </a>
                      <a [routerLink]="" role="button" class="dropdown-item" (click)="viewDetails(r)">
                        <span [innerHTML]="'BUTTONS.DETAILS' | translate: params"></span>
                      </a>
                      <a [routerLink]="" role="button" class="dropdown-item" (click)="copyInternalLinkToClipboard(r)" [innerHTML]="'BUTTONS.COPY_INTERNAL_LINK' | translate: params"></a>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </td>
          <td class="d-sm-table-cell d-md-table-cell d-lg-none">
            <a [href]="'#list-'+index" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="share-0">
              <i data-toggle="tooltip" title="Details" class="fal fa-2x fa-ellipsis-v actions__item"></i>
            </a>
          </td>
        </tr>

        <!-- Collapse details of share link for sm display -->
        <tr class="d-sm-table-row d-md-table-row d-lg-none share-details-row">
          <td colspan="10">
            <div class="collapse" [id]="'list-'+index">
              <div class="share-details">
                <div>
                  <span>
                    <strong>{{ 'TABLE.COLUMNS.UPDATED' | translate}}: </strong>
                    <span [ngClass]="{'name-starred': r.starred}" data-toggle="tooltip" title="{{ r.mtime * 1000 | date: 'EEEE, d MMM yyyy - HH:mm:ss Z' }}">{{
                      r.mtime * 1000 | date: 'dd.MM.yyyy - HH:mm:ss' }}</span>
                  </span>
                </div>
                <div>
                  <span>
                    <strong>{{ 'TABLE.COLUMNS.SIZE' | translate}}: </strong>
                    <ng-container *ngIf=" r.type==='file'">
                      <span [ngClass]=" {'name-starred':
                          r.starred}">{{r.size |
                        customFileSize}}</span>
                    </ng-container>
                  </span>

                </div>
                <div>
                  <span>
                    <strong>{{ 'TABLE.COLUMNS.MODIFIER' | translate}}: </strong>
                    <span data-toggle="tooltip" [title]="r.modifier_email" class="name" [ngClass]="{'name-starred': r.starred}">{{
                      r.modifier_email }}</span>
                  </span>
                </div>
                <div>
                  <span>
                    <strong>{{ 'TABLE.COLUMNS.PERMISSIONS' | translate}}:</strong>
                    <span [ngClass]="{'name-starred': r.starred}" *ngIf="r.permission === 'rw'" [innerHTML]="'PERMISSIONS.READ_WRITE' | translate: params"></span>
                    <span [ngClass]="{'name-starred': r.starred}" *ngIf="r.permission === 'r'" [innerHTML]="'PERMISSIONS.READ' | translate: params"></span>
                  </span>
                </div>
                <div class="actions">
                  <i class="actions__item fal fa-download green-color-hover ico-custom" data-toggle="tooltip" [title]="'TOOLTIPS.DOWNLOAD' | translate: params"
                    (click)="downloadItem(r)"></i>
                  <i *ngIf="!repoEncrypted && (r.type === 'dir' || (r.type === 'file' && currentUserPermission.can_generate_share_link !== false)) && isEnabledPubliclShare"
                    class="actions__item fal fa-share-alt green-color-hover ico-custom" data-target="#share-modal"
                    (click)="shareFolder(r,index)" data-toggle="tooltip" [title]="'TOOLTIPS.SHARE' | translate: params"></i>
                  <i *ngIf="r.permission==='rw'" class="actions__item fal fa-trash-alt green-color-hover ico-custom"
                    data-target="#delete-file-modal" data-toggle="tooltip" [title]="'TOOLTIPS.DELETE' | translate: params"
                    (click)="removeFolder(r,index)"></i>

                  <span class="icon-favorite" *ngIf="r.type === 'file'" class="mark__un__fv">
                    <i class="fas fa-star checked" *ngIf="r.starred" data-toggle="tooltip" [title]="'TOOLTIPS.UNFAVORITE' | translate: params"
                      (click)="removeFileStarred(r.name, index)"></i>
                    <i class="fal fa-star" *ngIf="!r.starred" data-toggle="tooltip" [title]="'TOOLTIPS.FAVORITE' | translate: params"
                      (click)="markFileStarred(r.name, index)"></i>

                    <div class="dropup actions__item">
                      <span data-toggle="tooltip" [title]="'TOOLTIPS.MORE_OPERATIONS' | translate: params" >
                        <i data-toggle="dropdown" class="actions__item fal fa-ellipsis-v green-color-hover ico-last-custom"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a [routerLink]="" role="button" *ngIf="r.permission === 'rw'" class="dropdown-item" (click)="rename = index" (click)="clickOnNameChange(r)">
                            <span [innerHTML]="'BUTTONS.RENAME' | translate: params"></span>
                          </a>
                          <a [routerLink]="" role="button" *ngIf="r.permission === 'rw'" class="dropdown-item" (click)="moveFileFolder(r, index)">
                            <span [innerHTML]="'BUTTONS.MOVE' | translate: params"></span>
                          </a>
                          <a [routerLink]="" role="button" class="dropdown-item" *ngIf="r.type === 'file' && !r.is_locked" (click)="lockFile(r, index)">
                            <span [innerHTML]="'BUTTONS.LOCK' | translate: params"></span>
                          </a>
                          <a [routerLink]="" role="button" class="dropdown-item" *ngIf="r.type === 'file' && r.is_locked && (r.locked_by_me || checkFileLockByMe(r.name))" (click)="unlockFile(r, index)">
                            <span [innerHTML]="'BUTTONS.UNLOCK' | translate: params"></span>
                          </a>
                          <a [routerLink]="" role="button" *ngIf="r.encrypted" class="dropdown-item">
                            <span [innerHTML]="'BUTTONS.CHANGE_PASSWORD' | translate: params"></span>
                          </a>
                          <a [routerLink]="" role="button" class="dropdown-item" (click)="copyFileFolder(r)">
                            <span [innerHTML]="'BUTTONS.COPY' | translate: params"></span>
                          </a>
                          <a [routerLink]="" role="button" *ngIf="r.permission === 'rw' && r.type === 'file'" class="dropdown-item" (click)="historyFile(r.name)">
                            <span [innerHTML]="'BUTTONS.HISTORY' | translate: params"></span>
                          </a>
                          <a [routerLink]="" role="button" class="dropdown-item" (click)="viewDetails(r)">
                            <span [innerHTML]="'BUTTONS.DETAILS' | translate: params"></span>
                          </a>
                          <a [routerLink]="" role="button" class="dropdown-item" (click)="copyInternalLinkToClipboard(r)" [innerHTML]="'BUTTONS.COPY_INTERNAL_LINK' | translate: params"></a>
                        </div>
                      </span>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </td>
        </tr>

      </ng-container>
    </tbody>
  </table>
</div>
