.gray_bg{
  background-color: #f3f3f4;
  height:100vh;
}

// form {
//   margin-top: 1rem;
// }

.msg_error{
  margin-top: -25px;
  text-align: left;
  color: #e10032;
}
.forgot-password {
  width: 130px;
  margin: 0 auto;
  padding-bottom: 6px;
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form-group--float .form-control:focus ~ label,
.form-group--float .form-control.form-control--active ~ label {
  font-size: .95rem;
}
.error-msg.last {
  padding-bottom: 26px;
}
.login{
  flex-direction: column;
  min-height: 90vh;
  height: 0;
}

.login_block_register {
  display: flex;
  width: 25rem;
  margin-top:10px;
  a{
    color: #707070;
    &.register__a{
      &:after{
        content: '|';
        margin: 0px 6px;
      }
    }
    &:hover{
      color: #0067b3;
    }
  }

  @media (max-width:375px) {
    margin-bottom: 20px;
  }

  @media (max-width:360px) {
    width: 22rem !important;
    margin-bottom: 150px;
  }
}


.login__block{
  @media (max-width:360px) {
    max-width: 295px !important;
  }
}

.login__block__header__custom {
  background: #0067b3;;
  height: 72px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  line-height: 42px;
  img.img--custom{
    margin-left: 0px;
    border-radius: 0px;
    border: none;
    width: 200px;
    height: 50px;
    box-shadow: none;
  }
}
.alert-custom{
  margin: 0px;
  position: relative;
}


header{
  position: relative;
  background: #0067b3;
}
:host ::ng-deep select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
 color: #fff;
 background: #0067b3;
}
:host ::ng-deep select2 .select2-container--default .select2-selection--single:before{
  transform: rotate(45deg);
  top: 15px;
}
:host ::ng-deep select2 .select2-container--default .select2-selection--single{
  border-bottom: 0px solid transparent !important;
}
:host ::ng-deep select2 .select2-container--default .select2-selection--single .select2-selection__rendered{
  padding:  14px 14px;
}
:host ::ng-deep select2  span{
  width: 80px;
}
:host select2 ::ng-deep span#select2-5vko-container {
  padding-left: 12px;
}

.select__languages {
  position: absolute;
  top: 12px;
  right: 20px;
}
.login__title {
  width: 25.5rem;
  display: inline-block;
  margin-bottom: 9px;
  h3 {
      font-size: 1.5rem;
      color: #636c72;
      text-transform: uppercase;
      font-weight: 400;
  }
  @media (max-width:360px) {
    width: 22.5rem !important;
  }
}
.footer.ft--custom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0rem 1rem 1rem;
}

button.btn.btn--icon-text.btn-success{
  width: 100%;
}
span.remember {
  color: #636c72;
  font-weight: 400;
}
.form-group--centered, .form-group--centered .form-control{
  text-align: left;
  vertical-align: middle;
}

.alert-dark {
  background-color: #495057;
  color: #fff;
}
.form-check {
  margin-left: -11px;
}
