.input-custom {
  width: 80%;
  border: 0px;
  cursor: pointer;
  background-color: #f3f3f3;
  height: 2.3em;
  vertical-align: middle;
  resize: none;
  padding: 0.4em 0;
}

.icon-clipboard {
  cursor: pointer;
  color: #707070;
  font-size: 18px;

  &:hover {
    color: #0067b3;
  }
}

.btn-demo {
	margin-top: 20px;
}

.btn--custom {
  margin: 9px 4px;
}

.mg-r4px {
  margin-right: 4px;
}
.mg-t7px{
  margin-top: 7px;
}
.mg-b7px{
  margin-bottom: 7px;
}

@media (max-width: 476px){
  .share__download__link {
    margin: 60px 6% 0px 5%;
}
  .input-custom{
    width: 100%;
    height: auto;
  }
}



