<header class="content__title">
  <h1>
    <span [innerHTML]="'TITLE_PAGE.SYSTEM_LIB' | translate: params"></span>
  </h1>
  <small [innerHTML]="'ADMIN.FOLDERS.SYSTEM.DESC' | translate: params"></small>
</header>

<div class="card">
  <div class="card-block">
    <div *ngIf="!isProcessing">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>
              <span [innerHTML]="'ADMIN.FOLDERS.SYSTEM.TABLE.NAME' | translate: params"></span>
            </th>
            <th width="30%" class="d-none d-lg-table-cell">
              <span [innerHTML]="'ADMIN.FOLDERS.SYSTEM.TABLE.ID' | translate: params"></span>
            </th>
            <th width="40%">
              <span [innerHTML]="'ADMIN.FOLDERS.SYSTEM.TABLE.DESCRIPTION' | translate: params"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="dataSystemFolders">
            <td>
              <span class="tb-name" (click)="openSystemFolders()">{{ dataSystemFolders.name }}</span>
            </td>
            <td class="d-none d-lg-table-cell">{{ dataSystemFolders.id }}</td>
            <td>
              <span [innerHTML]="'ADMIN.SETTINGS.FOLDER.DESCRIPTION_LEFT' | translate"></span>
              {{ "'" + dataSystemFolders.des_name + "'" }}
              <span [innerHTML]="'ADMIN.SETTINGS.FOLDER.DESCRIPTION_RIGHT' | translate"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-processing *ngIf="isProcessing"></app-processing>
  </div>
</div>
