.data-table__header {
  .month{
    font-size: 1.1rem;
    margin-right: 5px;
    height: 30px;
      span.month__title {
          line-height: 28px;
      }
      input.masked {
        width: 100px;
        margin: 0px 7px 0px 5px;
        border: none;
        border-bottom: 1px solid #c3c3c342;
        color: gray;
    }
  }
  .data-table__filter {
    margin-right: 25px;
    width: 100%;
    max-width: 100%;
    margin-top: -4px;
  }
  .row-selector {
    min-width: 11rem;
    margin-top: -4px;
  }
  .data-table_buttons {
    margin: 10px 0 0 30px;
  }
}

.data-table__footer {
  position: relative;
  .wrapper__footer {
      position: absolute;
      right: 2rem;
      top: 0px;
  }
}

table {
  td {
    vertical-align: middle;
    span.text--custom{
      @media (max-width: 364px) {
        width: 140px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  th.sortable {
    cursor: pointer;
  }
  .sort-icon {
    float: right;
    color: black;
  }
}

i.fal.fa-2x.fa-ellipsis-v.actions__item {
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
  background: #fefefe;
  line-height: 2.5rem;
  margin-right: 7px;
}

.share-details-row {
  padding: 0px;
  td {
    padding: 0px;
    .share-details {
      padding: 0.75rem 1rem;
      border: solid 1px lightgrey;
      text-align: left;
      .actions {
        margin-top: 1rem;
        .actions__item {
          width: auto;
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width:991px){
  tr{
    &:hover{
      background-color: #efefef;
    }
    th{
      &:last-child{
        text-align: right;
      }
    }
    td{
      &:last-child{
        text-align: right;
      }
    }
  }
}

@media (max-width: 650px){
  .fl--custom{
    flex-wrap: wrap;
  }
  .data-table__filter{
    margin-right: 0px !important;
      margin-top: 12px !important;
  }
  .row-selector {
      position: absolute;
      top: 2rem;
      right: 4px;
  }
}

@media (max-width: 420px){
  .card-block{
    padding: 2rem 1rem;
  }
  input.masked{
    width: 74px !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}
